<%= form_for(@cidade, :html => {:class => "form"} ) do |f| %>
	<div id="clienteTab" class="insidecode-blue-border">

	<fieldset>
		<% if @cidade.errors.any? %>
		  <div id="error_explanation">
		    <h3>Registro n&atilde;o foi salvo! Verifique os erros abaixo:</h3>

		    <ul>
		    <% @cidade.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

		<fieldset class="nolegend">
	          <p>
	   	   <label><span>Nome:</span>
		     <%= f.text_field :nome, :size => 30, :maxlength => 50 %>
		   </label>
	    	  </p>
		</fieldset>

		<fieldset class="nolegend">
    		  <p>
		   <label><span>U.F.:</span>
		     <%= f.text_field :uf, :size => 2, :maxlength => 2 %>
	     	   </label>
		  </p>
		</fieldset>
        </fieldset>	
	<br/>

	</div>
	<br/>
	
	<div class="buttons">
	  <button type="submit" class="positive">
	      <img src="/images/icons/tick.png" alt=""/> 
	      Salvar
	  </button>
	  <a href="<%= cidades_path %>" class="negative">
	      <img src="/images/icons/cross.png" alt=""/>
	      Cancelar
	  </a>
	</div>
<% end %>
